<a href="https://colab.research.google.com/github/natalya-lazar/PYTHON/blob/main/Task44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [6]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   robot
1   robot
2   human
3   robot
4   human
5   robot
6   human
7   human
8   robot
9   human
10  robot
11  human
12  robot
13  human
14  human
15  human
16  robot
17  human
18  robot
19  robot

In [7]:
gd = pd.get_dummies(data['whoAmI'])
gd

    human  robot
0       0      1
1       0      1
2       1      0
3       0      1
4       1      0
5       0      1
6       1      0
7       1      0
8       0      1
9       1      0
10      0      1
11      1      0
12      0      1
13      1      0
14      1      0
15      1      0
16      0      1
17      1      0
18      0      1
19      0      1

In [8]:
data.loc[data['whoAmI'] == 'human', 'human'] = '1'
data.loc[data['whoAmI'] == 'robot', 'human'] = '0'
data.loc[data['whoAmI'] == 'human', 'robot'] = '0'
data.loc[data['whoAmI'] == 'robot', 'robot'] = '1'

In [9]:
data = data.drop(columns='whoAmI')
data

   human robot
0      0     1
1      0     1
2      1     0
3      0     1
4      1     0
5      0     1
6      1     0
7      1     0
8      0     1
9      1     0
10     0     1
11     1     0
12     0     1
13     1     0
14     1     0
15     1     0
16     0     1
17     1     0
18     0     1
19     0     1